@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
:root{
    overflow-x: hidden;
    overflow-y: auto;
}
body{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(173,37,37,1) 30%, rgba(108,28,131,1) 50%, rgba(31,68,15,1) 70%, rgba(0,0,0,1) 100%);
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    
}
/* .container{
    backdrop-filter: blur(100px);
    max-height: 500vh;
    height: 100%;
} */
.header{
    text-align:center;
    padding-top: 2rem;
}
.btn-login{
    border: 1px solid white;
    border-radius: 100px;
    height: 42px;
    line-height: 26px;
    padding: 8px 16px;
    cursor: pointer;
    outline: 0 none;
    text-decoration: none;
    color: white;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    float: right; 
    transition: 0.3s ease-in-out;
    display: none;
}
.btn-login:hover{
    color: black;
    background-color: white;
    transition: 0.3s ease-in-out;
}
.login{
    margin-right: 5vh;
    margin-top: -5vh;
}
.title{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    margin-top: 10vh;
}
.logo{
    width: 20vh;
    margin:0px auto;
}
.container-cards{
    text-align:center;
    
}
.card{
    margin:0px auto;
    margin-bottom: 3vh;
    width: 100%;
    max-width: 343px;
    border-radius: 20px;
    padding: 16px 16px 8px;
    font-family: 'Roboto', sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card-title{
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: white;
    padding: 0;
    margin: 0;
}
.card-title span{
    font-weight: 600;
}
.card-mes{
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: white;
    padding: 0;
    margin-top: 5%;
    margin-bottom: 0;
}
.card-mes span{
    font-weight: 600;
    cursor: pointer;
}
.card-details{
    color: white;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin: 10px;
}
.card-btn{
    text-transform: uppercase;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: #121216;
    border-radius: 400px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-filter: drop-shadow(0 10px 16px rgba(0,0,0,.3)) drop-shadow(0 16px 32px rgba(0,0,0,.1));
    filter: drop-shadow(0 10px 16px rgba(0,0,0,.3)) drop-shadow(0 16px 32px rgba(0,0,0,.1));
    font-size: 14px;
    height: 42px;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 14px;
    max-width: 283px;
    padding: 8px 20px;
    text-align: center;
    width: 100%;
    border: none;
    color: white;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}
.card-btn:hover{
    background: white;
    color: #121216;
    cursor: pointer;
}
.card-info{
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: white;
    margin-top: 1rem;
}
.card-link{
    margin-bottom: 0;
    margin-top: 0;
    font-size: 14px;
    line-height: 16px;
    opacity: .7;
    text-align: center;
    text-decoration: underline;
    color: white;
    cursor: pointer;
}
.card-precio{
    margin-top: 0;
    color: white;
    cursor: pointer;
    margin-bottom: 0;
}
.first{
    background: rgb(142,58,171);
    background: linear-gradient(270deg, rgba(142,58,171,1) 44%, rgba(111,65,179,1) 80%);
}
.second{
    background: rgb(237,138,35);
    background: linear-gradient(270deg, rgba(237,138,35,1) 44%, rgba(224,90,21,1) 80%);
}
.third{
    background: rgb(60,162,186);
    background: linear-gradient(270deg, rgba(60,162,186,1) 44%, rgba(113,92,235,1) 80%);
}
.container-info{
    text-align:center;
    margin-bottom: -5px;
}
.info{
    margin:0px auto;
    margin-bottom: 3vh;
    width: 100%;
    max-width: 400px;
    border-radius: 20px;
    padding: 16px 16px 8px;
    font-family: 'Roboto', sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.info .info-title{
    color: white;
    font-weight: 600;
    font-size: 3.5vh;
}
.info .info-description{
    color: #9e9ea7;
    font-weight: 200;
    font-size: 3vh;
}
.container-info .btn-info{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 32PX;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    text-align: center;
    width: 100%;
    height: 50px;
    max-width: 400px;
    font-weight: 700;
    align-items: center;
    border-radius: 100px;
    border: 1px solid rgba(0,0,0,0);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    justify-content: center;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}
.btn-info-sl{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 32PX;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    text-align: center;
    width: 100%;
    height: 50px;
    max-width: 200px;
    font-weight: 700;
    align-items: center;
    border-radius: 100px;
    border: 1px solid rgba(0,0,0,0);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    justify-content: center;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

.img-flow{
    width: 50%;
    cursor: pointer;
}
.container-catalogo{
    text-align:center;
}
.container-catalogo .btn-info{
    font-family: 'Roboto', sans-serif;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    text-align: center;
    width: 100%;
    height: 50px;
    max-width: 250px;
    font-weight: 700;
    align-items: center;
    border-radius: 100px;
    border: 1px solid rgba(0,0,0,0);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    justify-content: center;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}
.container-album{
    text-align:center;
}
.album{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    max-width: 600px;
    grid-column-gap: 5vh;
    grid-row-gap: 5vh;
    margin-left: 5%;
}
.album .img-album{
    width: 25vh;
    border-radius: 0.5rem;
    cursor: pointer;
}
.title-album{
    color: gray;
    margin-top: 8px;
    display: block;
    font-size: 14px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
}
.autor-album{
    color: gray;
    margin-top: 2px;
    display: block;
    font-size: 14px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.container-album .btn-info{
    font-family: 'Roboto', sans-serif;
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    text-align: center;
    width: 100%;
    height: 50px;
    max-width: 300px;
    font-weight: 700;
    align-items: center;
    border-radius: 100px;
    border: 1px solid rgba(0,0,0,0);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    justify-content: center;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}
.container-footer{
    text-align:center;
}
.social-network{
    text-align: center;
}
.logo{
    text-align: center;
}
.logo-footer{
    width: 25vh;
    margin:0px auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    cursor: pointer;
}
.fa-brands{
    color: white;
    font-size: 4vh;
    letter-spacing: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.copyright{
    color: gray;
    font-family: 'Roboto', sans-serif;
}
.wrap-gray{
    padding-bottom: 2vh;
    background-color: #121216;
}
.container-infofinal{
    text-align: center;
}
.lines-effect{
    color: white;
    display: inline-block;
    position: relative;
}
.lines-effect::after{
    content: '';
    position: absolute;
    width: 120px;
    height: 1px;
    background-color: gray;
    top: 0.6em;
    right: -140px;
}
.lines-effect::before{
    content: '';
    position: absolute;
    width: 120px;
    height: 1px;
    background-color: gray;
    top: 0.6em;
    left: -140px;
}
.container-infofinal .btn-info{
    font-family: 'Roboto', sans-serif;
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    text-align: center;
    width: 100%;
    height: 50px;
    max-width: 200px;
    font-weight: 700;
    align-items: center;
    border-radius: 100px;
    border: 1px solid rgba(0,0,0,0);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    justify-content: center;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}
/**/

.accordion {
    width: 100%;
    max-width:  650px;
    margin: 10px auto;
}
.accordion .container {
    position: relative;
    margin: 10px 10px;
}

.accordion .label {
    position: relative;
    padding: 10px 0;
    font-size: 4vh;
    color: white;
    cursor: pointer;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.accordion .label::before {
    content: '►';
    color: white;
    position: absolute;
    top: 50%;
    right: -5px;
    font-size: 20px;
    transform: translateY(-50%);
    font-weight: 700;
}

.accordion .content {
    position: relative;
    background: transparent;
    height: 0;
    font-size: 15px;
    text-align: left;
    width: 100%;
    max-width: 650px;    
    overflow: hidden;
    transition: 0.5s;
    color: white;
}

.accordion .container.active .content {
    height: 20vh;
}

.accordion .container.active .label::before {
    content: '▼';
    font-size: 20px;
}
.downloads{
    display: flex;
}
.icon{
    width: 30vh;
    cursor: pointer;
}
hr{
    background-color: gray;
    width: 100%;
}
/*Hamburguer menu*/
.hamburger{
	position:fixed;
  background-color:transparent;
	left: 80%;
	top:2vh;
	height:30px;
	width:30px;
	padding:20px 20px;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	z-index:1002;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
.hamburger.is-active{
  background-color:none;
}
._layer{
	background:#ffffff;
	margin-bottom:4px;
	border-radius:2px;
	width:28px;
	height:4px;
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.hamburger:hover .-top{
	-webkit-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	transform:translateY(-100%);
}
.hamburger:hover .-bottom{
	-webkit-transform:translateY(100%);
	-ms-transform:translateY(100%);
	transform:translateY(100%);
	}
.hamburger.is-active .-top{
	-webkit-transform:translateY(200%) rotate(45deg) !important;
	-ms-transform:translateY(200%) rotate(45deg) !important;
	transform:translateY(200%) rotate(45deg) !important;
}
.hamburger.is-active .-mid{
	opacity:0;
}
.hamburger.is-active .-bottom{
	-webkit-transform:translateY(-200%) rotate(135deg) !important;
	-ms-transform:translateY(-200%) rotate(135deg) !important;
	transform:translateY(-200%) rotate(135deg) !important;
}

.menuppal.is_active{
  transform: translate3d(0px, 0px, 0px);
}
.menuppal{
   background-color:#121216;
    bottom: 0;
    height: 100%;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    transform: translate3d(0px, -100%, 0px);
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    width: 100%;
    z-index: 1001;
    padding-top: 5vh;
}
.menuppal ul{
  margin:0;padding:0;
}
.menuppal ul li { 
    list-style: none;
    text-align:center;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size:1.5rem;
    line-height:3em;
	height:3em;
    color:white;
	text-transform:none;
	font-weight:bold;
}
.menuppal ul li a{
  text-decoration:none;
  color:white;
}
.menuppal ul li a:hover{
  text-decoration:none;
  color:#333;
}
/*responsive*/
@media screen and (min-width: 1200px){
    .hamburger{
        display: none;
    }
    .btn-login{
        display: block;
    }
    .title{
        font-size: 1rem;
    }
    .card{
        max-width: 600px;
        padding: 24px 80px 16px;
    }
    .card-details{
        font-size: 16px;
    }
    .card-title{
        font-size: 30px;
    }
    .info{
        max-width: 600px;
    }
    .info .info-title{
        font-size: 5vh;
    }
    .album{     
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 10vh;
        grid-row-gap: 10vh;
        
    }
    .album .img-album{
        width: 30vh;
    }
    .downloads{
        margin-top: 3rem;
    }
    .info{
        max-width: 800px;
    }
    .accordion .container.active .content {
        height: 12vh;
    }
    .container{
        background-color: transparent;
        backdrop-filter: blur(500px);
        max-height: 600vh;
    }
    
}
@media screen and (min-width: 1500px){
    .btn-login{
        display: block;
    }
    .info .info-description{
        font-size: 2vh;
    }
    .info .info-title{
        font-size: 4vh;
    }
    .img-flow{
        width: 30%;
    }
    .info{
        max-width: 800px;
    }
    .img-banner{
        width: 60%;
    }
    .album{     
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 8vh;
        grid-row-gap: 8vh;
        
    }
    .accordion .label{
        font-size: 3vh;
    }
    .accordion .container.active .content {
        height: 6vh;
    }
    .icon{
        width: 20vh;
    }

}
@media screen and (min-width: 1680px){
    .btn-login{
        display: block;
    }
    .info .info-description{
        font-size: 2vh;
    }
    .info .info-title{
        font-size: 4vh;
    }
    .img-flow{
        width: 30%;
    }
    .info{
        max-width: 800px;
    }
    .img-banner{
        width: 60%;
    }
    .album{     
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 4vh;
        grid-row-gap: 4vh;
        
    }
    .accordion .label{
        font-size: 3vh;
    }
    .accordion .container.active .content {
        height: 6vh;
    }
    .icon{
        width: 20vh;
    }

}
@media screen and (max-width: 412px){
    .body{
        overflow-x: hidden;
    }
    .album{     
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 2vh;
        grid-row-gap: 2vh;
        margin-left: 25%;
    }
    .img-flow{
        width: 100%;
    }
    .img-banner{
        width: 100%;
    }
    .accordion .label{
        font-size: 2vh;
    }
    .accordion .container.active .content {
        height: 15vh;
    }
    .icon{
        width: 15vh;
        margin-top: 5vh;
        margin-bottom: 2vh;
    }
    .info{
        margin-bottom: 0;
    }
    .info .info-title{
        font-size: 25px;
    }
    .info .info-description{
        font-size: 18px;
    }
    .container-infofinal .btn-info{
        margin-top: 0;
        margin-bottom: 0;
    }
}
@media screen and (max-width: 500px){
    .body{
        overflow-x: hidden;
    }
    .album{     
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 2vh;
        grid-row-gap: 2vh;
        margin-left: 25%;
    }
    .img-flow{
        width: 100%;
    }
    .img-banner{
        width: 100%;
    }
    .accordion .label{
        font-size: 2vh;
    }
    .accordion .container.active .content {
        height: 15vh;
    }
    .icon{
        width: 15vh;
        margin-top: 5vh;
        margin-bottom: 2vh;
    }
    .info{
        margin-bottom: 0;
    }
    .info .info-title{
        font-size: 25px;
    }
    .info .info-description{
        font-size: 18px;
    }
    .container-infofinal .btn-info{
        margin-top: 0;
        margin-bottom: 0;
    }
}