@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');

body{
    background: rgb(0,0,0);
    background: linear-gradient(270deg, rgba(0,0,0,1) 13%, rgba(50,89,11,1) 32%, rgba(49,26,77,1) 57%, rgba(89,11,11,1) 72%, rgba(0,0,0,1) 92%);
    margin: 0;
    font-family: 'Rubik', sans-serif;
}
.container{
    background-color: transparent;
    backdrop-filter: blur(500px);
    max-height: 100vh;
}
.header{
    text-align:center;
    padding-top: 2rem;
}
.title{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    margin-top: 1rem;
}
.logo{
    width: 20vh;
    margin:0px auto;
}
.container-cards{
    text-align:center;
    
}
.card{
    margin:0px auto;
    margin-bottom: 3vh;
    width: 100%;
    max-width: 343px;
    border-radius: 20px;
    padding: 16px 16px 8px;
    font-family: 'Rubik', sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card-title{
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: white;
    padding: 0;
    margin: 0;
}
.card-title span{
    font-weight: 600;
}
.card-mes{
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: white;
    padding: 0;
    margin-top: 5%;
    margin-bottom: 0;
}
.card-mes span{
    font-weight: 600;
    cursor: pointer;
}
.card-details{
    color: white;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin: 10px;
}
.card-btn{
    text-transform: uppercase;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: #121216;
    border-radius: 400px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-filter: drop-shadow(0 10px 16px rgba(0,0,0,.3)) drop-shadow(0 16px 32px rgba(0,0,0,.1));
    filter: drop-shadow(0 10px 16px rgba(0,0,0,.3)) drop-shadow(0 16px 32px rgba(0,0,0,.1));
    font-size: 14px;
    height: 42px;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 14px;
    max-width: 283px;
    padding: 8px 20px;
    text-align: center;
    width: 100%;
    border: none;
    color: white;
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 1px;
}
.card-btn:hover{
    background: white;
    color: #121216;
    cursor: pointer;
}
.card-info{
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: white;
    margin-top: 1rem;
}
.card-link{
    margin-bottom: 0;
    margin-top: 0;
    font-size: 14px;
    line-height: 16px;
    opacity: .7;
    text-align: center;
    text-decoration: underline;
    color: white;
    cursor: pointer;
}
.card-precio{
    margin-top: 0;
    color: white;
    cursor: pointer;
    margin-bottom: 0;
}
.first{
    background: rgb(142,58,171);
    background: linear-gradient(270deg, rgba(142,58,171,1) 44%, rgba(111,65,179,1) 80%);
}
.second{
    background: rgb(237,138,35);
    background: linear-gradient(270deg, rgba(237,138,35,1) 44%, rgba(224,90,21,1) 80%);
}
.third{
    background: rgb(60,162,186);
    background: linear-gradient(270deg, rgba(60,162,186,1) 44%, rgba(113,92,235,1) 80%);
}
.container-info{
    text-align:center;
    margin-bottom: -5px;
}
.info{
    margin:0px auto;
    margin-bottom: 3vh;
    width: 100%;
    max-width: 400px;
    border-radius: 20px;
    padding: 16px 16px 8px;
    font-family: 'Rubik', sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.info .info-title{
    color: white;
    font-weight: 600;
    font-size: 3.5vh;
}
.info .info-description{
    color: #9e9ea7;
    font-weight: 200;
    font-size: 3vh;
}
.container-info .btn-info{
    font-family: 'Rubik', sans-serif;
    margin-bottom: 32PX;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    text-align: center;
    width: 100%;
    height: 50px;
    max-width: 400px;
    font-weight: 500;
    align-items: center;
    border-radius: 100px;
    border: 1px solid rgba(0,0,0,0);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    justify-content: center;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}
.btn-info-sl{
    font-family: 'Rubik', sans-serif;
    margin-bottom: 32PX;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    text-align: center;
    width: 100%;
    height: 50px;
    max-width: 200px;
    font-weight: 500;
    align-items: center;
    border-radius: 100px;
    border: 1px solid rgba(0,0,0,0);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    justify-content: center;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

.img-flow{
    width: 50%;
    cursor: pointer;
}
.container-catalogo{
    text-align:center;
}
.container-catalogo .btn-info{
    font-family: 'Rubik', sans-serif;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    text-align: center;
    width: 100%;
    height: 50px;
    max-width: 250px;
    font-weight: 500;
    align-items: center;
    border-radius: 100px;
    border: 1px solid rgba(0,0,0,0);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    justify-content: center;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}
.container-album{
    text-align:center;
}
.album{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    max-width: 600px;
    grid-column-gap: 5vh;
    grid-row-gap: 5vh;
    margin-left: 5%;
}
.album .img-album{
    width: 25vh;
    border-radius: 0.5rem;
    
}
.title-album{
    color: gray;
    margin-top: 8px;
    display: block;
    font-size: 14px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 0;
}
.autor-album{
    color: gray;
    margin-top: 2px;
    display: block;
    font-size: 14px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}
.container-album .btn-info{
    font-family: 'Rubik', sans-serif;
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    text-align: center;
    width: 100%;
    height: 50px;
    max-width: 300px;
    font-weight: 500;
    align-items: center;
    border-radius: 100px;
    border: 1px solid rgba(0,0,0,0);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    justify-content: center;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}
.container-footer{
    text-align:center;
}
.social-network{
    text-align: center;
}
.logo{
    text-align: center;
}
.logo-footer{
    width: 25vh;
    margin:0px auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    cursor: pointer;
}
.fa-brands{
    color: white;
    font-size: 4vh;
    letter-spacing: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.copyright{
    color: gray;
    font-family: 'Rubik', sans-serif;
}
.wrap-gray{
    padding-bottom: 2vh;
    background-color: #121216;
}
.container-infofinal{
    text-align: center;
}
.lines-effect{
    color: white;
    display: inline-block;
    position: relative;
}
.lines-effect::after{
    content: '';
    position: absolute;
    width: 120px;
    height: 1px;
    background-color: gray;
    top: 0.6em;
    right: -140px;
}
.lines-effect::before{
    content: '';
    position: absolute;
    width: 120px;
    height: 1px;
    background-color: gray;
    top: 0.6em;
    left: -140px;
}
.container-infofinal .btn-info{
    font-family: 'Rubik', sans-serif;
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    text-align: center;
    width: 100%;
    height: 50px;
    max-width: 200px;
    font-weight: 500;
    align-items: center;
    border-radius: 100px;
    border: 1px solid rgba(0,0,0,0);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    justify-content: center;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}
/**/

.accordion {
    width: 100%;
    max-width:  650px;
    margin: 10px auto;
}
.accordion .container {
    position: relative;
    margin: 10px 10px;
}

.accordion .label {
    position: relative;
    padding: 10px 0;
    font-size: 4vh;
    color: white;
    cursor: pointer;
    text-align: left;
    font-family: 'Rubik', sans-serif;
}

.accordion .label::before {
    content: '►';
    color: white;
    position: absolute;
    top: 50%;
    right: -5px;
    font-size: 20px;
    transform: translateY(-50%);
    font-weight: 700;
}

.accordion .content {
    position: relative;
    background: transparent;
    height: 0;
    font-size: 15px;
    text-align: left;
    width: 100%;
    max-width: 650px;    
    overflow: hidden;
    transition: 0.5s;
    color: white;
}

.accordion .container.active .content {
    height: 20vh;
}

.accordion .container.active .label::before {
    content: '▼';
    font-size: 20px;
}
.downloads{
    display: flex;
}
.icon{
    width: 30vh;
    cursor: pointer;
}
hr{
    background-color: gray;
    width: 100%;
}

/*responsive*/
@media screen and (min-width: 1200px){
    .title{
        font-size: 1rem;
    }
    .card{
        max-width: 600px;
        padding: 24px 80px 16px;
    }
    .card-details{
        font-size: 16px;
    }
    .card-title{
        font-size: 30px;
    }
    .info{
        max-width: 600px;
    }
    .info .info-title{
        font-size: 5vh;
    }
    .album{     
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 10vh;
        grid-row-gap: 10vh;
    }
    .album .img-album{
        width: 30vh;
    }
    .downloads{
        margin-top: 3rem;
    }
    .info{
        max-width: 800px;
    }
    .accordion .container.active .content {
        height: 12vh;
    }
}
@media screen and (min-width: 1500px){
    .info .info-description{
        font-size: 2vh;
    }
    .info .info-title{
        font-size: 4vh;
    }
    .img-flow{
        width: 30%;
    }
    .info{
        max-width: 800px;
    }
    .img-banner{
        width: 60%;
    }
    .album{     
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 8vh;
        grid-row-gap: 8vh;
    }
    .accordion .label{
        font-size: 3vh;
    }
    .accordion .container.active .content {
        height: 6vh;
    }
    .icon{
        width: 20vh;
    }
}
